<%- include("template/header") %>
<link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <%- include('template/headerBar', {pictureID:pictureID}) %>

        <div class="d-flex justify-content-center align-items-center">
            <div>
                <h1 class="text-center"> Forbidden - 403 </h1>
                <% if (error) { %>
                    <p class="text-center">
                        <%= error %>
                    </p>
                <% } %>
                <div class="d-flex justify-content-center">
                    <button onclick="window.location.href = '/'" class="btn btn-primary">Go Home</button>
                </div>
            </div>
        </div>
    <%- include("template/footerBar") %>
<%- include("template/footer") %>