<%- include("template/header.ejs") %>
<link rel="stylesheet" href="/css/collections.css">
</head>
<body>
<%- include("template/headerBar.ejs") %>

  <div class="d-flex justify-content-center mt-5 headerText space">
    <h1>Flashcard Collection</h1>
  </div>

  <div class="d-flex justify-content-center space">
    <h6>Here are your previously generated flashcards</h6>
  </div>

  <div class="container">

  <div class="input-group justify-content-center">
    <form class= "justify-content-center" action='/searchCollection' method='post'>
      <input name="search" type="search" placeholder="Search" />
      <button type="submit" class="btn button-bg" data-mdb-ripple-init>
      <img src='images/search.svg'>
      </button>
    </form>
  </div>

<div class="list-group" style="margin-top:20px">
  <% for(var i = 0; i<collections.length; i++) { %>
      <a href="/review/<%= collections[i].shareId %>" class="list-group-item list-group-item-action"><%= collections[i].setName %></a>
  <% }; %>
</div>

</div>

<%- include("template/footerBar.ejs") %>
<%- include("template/footer.ejs") %>