<%- include("template/header.ejs") %>
<%- include("template/headerBar.ejs") %>
<% const items = email ? ['collection', 'logout'] : ['login', 'register']; %>
<% items.forEach((item) => { %>
    <div class="d-flex flex-column mt-3 ms-1">
        <a href="/<%- item%>"> 
            <button class="btn btn-outline-secondary"><%- item%></button>
        </a>
    </div>
<% }) %>
<%- include("template/footerBar.ejs") %>
<%- include("template/footer.ejs") %>
