<%- include('template/header') %>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/calendar.css">
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-light custom-navbar">
            <a class="navbar-brand custom-navbar-brand" href="#">
            <img src="/images/depresso2.png" width="45" height="45" class="d-inline-block align-top" alt="">
            StudyGen
            </a>
        </nav>
    </div>

    <div class="container-alert">
        <div class="alert alert-light custom-alert" role="alert">
            Hi <%= name %>!<br>
            You've been studying for <%= days %> days!
        </div>
    </div>
        <!-- <img src="/images/depresso2.png"></img> -->

        <%- include('calendar') %>

    <div class="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top custom-footer">
            <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </footer>
    </div>
<%- include('template/footer') %>