<%- include("template/header") %>
<link rel="stylesheet" href="../css/review.css">
</head>
<body>
    <div class="content-container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-theme="dark">
            <div class="carousel-indicators">
                <% for(let i=0; i < cards.length; i++) { %>
                    <%- include('cardindicator.ejs', {i: i})%>
                        <% } %>
            </div>
            <div class="carousel-inner">
                <% for(let i=0; i < cards.length; i++) { %>
                    <%- include('card.ejs', {card: cards[i], bg: bg, i: i}) %>
                        <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div>
            <p>Tap Card to flip</p>
        </div>
        <div id="sharecode-container">
            <p>Share this set:</p>
            <p><%= id %></p>
        </div>
    </div>
<%- include("template/footer") %>


